.palette-maker,
.palette-maker__colors {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 16px;

  input {
    border-radius: 3px 0 0 3px;
    border-right: none;
  }
}

.palette-maker__colors {
  flex-direction: row;
  column-gap: 16px;

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;
  }
}